<div class="form">
    <form method="post" ><br>
        <h1>Sistema de Clientes</h1><br>
        <h2>Cadastro</h2><br><br>
        <label for="nome">Nome:</label>
        <input type="text"size="40"placeholder="Nome Completo">
        <br><br>
        <label for="email">Email:</label>
        <input type="text"size="40"placeholder="Email Válido">
        <br><br>
        <label for="sexo">Sexo:</label> &nbsp;
        <label for="mas">Masculino</label>
        <input type="radio" name="opcao" id="op1">&nbsp;
        <label for="fem">Feminino</label>
        <input type="radio" name="opcao" id="op1">&nbsp;
        <label for="outro">Outros</label>
        <input type="radio" name="opcao" id="op1"><br><br>
        <label for="data">Data de Nascimento:</label>
        <input type="date" name="data" id="data"><br><br>
        <input type="submit" value="Enviar"> &nbsp; &nbsp;
        <input type="button" value="Voltar"><br><br>
       
   </form>
</div>